.navbar-item{
  float: left;
 
}
nav.taakbalk ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: flex;
  overflow: hidden;
  background: #0c060c;
  background: linear-gradient(0deg, rgba(12, 6, 12, 0) 0%, rgba(12, 6, 12, 0.7) 100%);
  position: fixed;
  width: 100%;
  
}
nav.taakbalk li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  transition: 0.6s ease;
  text-decoration: none;
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 80px;
}
nav.taakbalk li button {
  display: flex;
  color: white;
  text-align: center;
  padding: 0px 16px;
  transition: 0.6s ease;
  text-decoration: none;
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 80px;
  justify-content: flex-end;
  align-items: flex-end;
  border: 0px;
  background: #0c060c;
  float: right;
  /* background: linear-gradient(0deg, rgba(12, 6, 12, 0) 0%, rgba(12, 6, 12, 0.7) 100%); */
  border-radius: 45px;
}
.darkmode-button{
  
  float: right;
}
nav.taakbalk li button:hover {
  background-color: #111;
}
nav.taakbalk li img{
  width: 80px;
  height: 80px;
}
nav.taakbalk li a:hover {
  background-color: #111;
}
.taakbalk{
  margin-bottom: -10px;
  z-index: 999;
  position: relative;
  justify-content: space-evenly;
  width: 100vw;
}
body{
  background-color: #1a1a1a;
  color: white;
  margin:0;
}

.dark-mode{
  background-color: white;
  color: #1a1a1a;

}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  margin-top: 80px;

}

/* Hide the images by default */
.mySlides {
  display: none;
}
.roundimage{
  border-radius: 20px;

}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.sliderarrowcol{
  display: flex;
  flex-direction: column;

justify-content:center ;

}
.slidercontrols
{
  display: flex;
  flex-direction: row;

justify-content:center ;
}
/* Position the "next button" to the right */
.next {
  right: 100px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #212121;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

article{
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*.footbalk{
  /* display: flex; */
/*}*/
nav.footbalk li{
  float: left;
}
nav.footbalk ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.ikd{
  margin-right: 150px;
}

.reviewimg{
  width: 17%;
  margin-bottom: 20px;
  margin-left: 500px;
}

.reviewrow{
  display: flex;
  justify-content: space-around;
  /*margin-right: 60px; */
}

.dumb{
  color: #1a1a1a;
}

.info{
  display: flex;
  justify-content: space-around;
  /*  margin-right: 300px;  */
}

.pootje{
  border-bottom: none;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
}
footer{
  background: #262626;
}
nav.footbalk li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  transition: 0.6s ease;
  text-decoration: none;
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 80px;
}


nav.footbalk ul.dark-mode{
  background: #717171;
}
